<footer>
    <div class="row">
        <div class="footer__image col-xs-12 col-sm-12  last-md col-md-7 col-lg-7"></div>
        <div class="col-xs-12 col-sm-12  col-md-5 col-lg-5">
            <h1>Groome</h1>
            <a href="/expertise"><h2>Expertise </a> |  <a  href="/product">  Product</a>  | <a href="#popup" id="open_popup">Contact</a> </h2>
            <p>Product of <a href="https://www.hashworks.co/" target="_blank"> hashworks.co</a></p>
        </div>
    </div>
    <div id="popup" >
        <div class="modal">
            <div class="row">
                <div class="close-button" id="close_popup"><p class="x">X</p></div>
                <h1>LET’S WORK TOGETHER</h1>
                <h2>Forming partnerships will help to create the cult for coffee</h2>
                <form id="test-form" action="" name="contactus">
                  <div>
                    <p>Your name <label>*</label></p>
                    <input type="text" name="name" id="name" placeholder="Name"/>
                  </div>
                  <div>
                    <p>Your Email <label>*</label></p>
                    <input id="emailVal1"  type="email" name="email" id="email" placeholder="Email"/>
                    
                  </div>
                  <div>
                    <p>Your Company <label>*</label></p>
                    <input type="text" name="company" id="company" placeholder="Hashworks" />
                  </div>
                  <div>
                    <button type="submit" id="submit-form">Submit</button>
                  </div>
                </form>
                <div class="success">
                  <h1 id="test">Successfully Submited</h1>
                  <h1 id="errorMsg1"> All Filled Required</h1>
                </div>
              <div class="row phone">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                 <img src="../assets/images/antique.png"/>
                 <span>+91 80 64513477</span>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                 <img src="../assets/images/email.png"/>
                 <span>hello@groome.co</span>
               </div>
                </div>
              <!-- <a href="#" id="close_popup">closepopup</a> -->
            </div>
        </div>
          </div>

</footer>
</body>
<script src="../assets/js/jquery.serialize-object.min.js"></script>
<script>
//validation
$(document).ready(function() {
        $("#test").hide();
        $("#errorMsg1").hide();
        var $form = $('form#test-form'),
        url = 'https://script.google.com/macros/s/AKfycbym0D9ijAOnr5vE91Gmt8IHIHXq-gwYcKU8P8eiLR4PzWp_3QY/exec'

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (regex.test(email) === true) {
                console.log('Valid Email');
                var jqxhr = $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "json",
                    data: $form.serializeObject(),
                    success: function() {
                        $("#test").show();
                        $("#errorMsg1").hide();
                    }
                })
            } else {
                console.log('Invalid Emial');
                $("#errorMsg1").show();
            }
        }
        $('#submit-form').on('click', function(e) {
            var email = $("#emailVal1").val();
            isEmail(email);
            e.preventDefault();
        })
    });

    $('#submit-form').on('click', function() {
    valid = true;   
    if ($('#name').val() == '') {
        valid = false;
    }

    if ($('#company').val() == '') {
         valid = false;
    }    
});

</script>
<script>
   $("#open_popup").click(function(){
     $("#popup").css("display", "flex");
      });
    
     $("#close_popup").click(function(){
        $("#popup").css("display", "none");
      }); 
   
  $('body').click(function(e){
    if(e.target.style[0] == "display"){
      $("#popup").css("display","none");
    }
  });
    </script>

</html>