{% include head.html %}
    <section class="expertise">
        <section class="expertise__banner">
            <div class="row bottom-xs">
              <section class="expertise__bannerImage">
                <div class="expertise__banner--text">
                  <h1>Our Experts Will Help You Leap Forward</h1> 
                </div>
              </section>  
            </div>
        </section> 
            <section class="expertise__heading">
                <section class="expertise__headingContainer">
                <div class="row">
                <div class="expertise__headingContainer--title col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h1>Just In Time Sourcing</h1>
                </div>
                <div class="expertise__headingContainer--title col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h1>Offer Conversion Rate 85%</h1>
                </div>
                <div class="expertise__headingContainer--title col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h1>Time To Hire 20 Days</h1>
                </div>
                <div class="expertise__headingContainer--title col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h1>On Demand Hiring</h1>
                </div>
                </div>
                </section>
            </section>
            <section class="expertise__details ">
                <section class="expertise__detailsContainer">
                    <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                        <div class="expertise__detailsContainer--left">
                        <div class="expertise__detailsContainer--heading">
                        <h1>Get The Elastic Workforce Advantage</h1>
                        </div>
                        <div class="expertise__detailsContainer--subDetails">
                            <h2>Bi-Modal Lever</h2>
                         <p>We partner to hire bright talents you need for innovation
                            and mainstream workforce to run your business.</p>
                        </div>
                         <div class="expertise__detailsContainer--subDetails">
                            <h2>Skill Shortage</h2>
                          <p>Collaborate with our top talents to see increased
                            productivity & rapid adoption to new technologies
                            driving convergence & strategic growth.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 expertise__detailsContainer--reverseOrder first-xs">
                        <div class="expertise__detailsContainer--right fullHeight">
                        <div class="row middle-xs fullHeight">
                            <embed src="../assets/images/SVG_GROOME_SERVICES/1/demo.html" alt="expertise">
                        </div>
                        </div>
                    </div>    
                </section>
            </section>    
            <section class="expertise__details expertise__grey">
                <section class="expertise__detailsContainer">
                    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 last-xs">
                        <div class="expertise__detailsContainer--left">
                        <div class="expertise__detailsContainer--heading">
                        <h1>AI Driven Candidate Discovery</h1>
                        </div>
                        <div class="expertise__detailsContainer--subDetails">
                            <h2>Skill Recommendation</h2>
                          <p>Our self-aware intelligent platform learn your skillset need and recommend the right market-fit to hire.</p>
                        </div>
                         <div class="expertise__detailsContainer--subDetails">
                            <h2>Match-Rank Algorithm</h2>
                          <p>We tie the right candidates to the right jobs. Our ranking
                            alogrithm will set the right expectation and deliver context
                            for your hiring.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="expertise__detailsContainer--right fullHeight">
                        <div class="row middle-xs fullHeight">
                            <embed src="../assets/images/SVG_GROOME_SERVICES/2/demo.html" alt="expertise">
                        </div>
                        </div>
                    </div>    
                </section>
            </section>  

            <!-- Next set of Details --> 

                        <section class="expertise__details">
                <section class="expertise__detailsContainer">
                    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                        <div class="expertise__detailsContainer--left">
                        <div class="expertise__detailsContainer--heading">
                        <h1>Gain Access To New Technologies With Our Millennial Workforce</h1>
                        </div>
                        <div class="expertise__detailsContainer--subDetails">
                            <h2>Spotting The Unicorn</h2>
                           <p>We spot, groom, nurture the right talents and challenge
                            their intellect in our development eco-system. Problem-
                            solving is what they do.</p>
                        </div>
                         <div class="expertise__detailsContainer--subDetails">
                            <h2>Leading The Trend</h2>
                           <p>Our skilled workforce is not limited to build, operate & to
                            grow your business. They enable you to deliver fast,
                            differentiate and lead in your industry.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 expertise__detailsContainer--reverseOrder first-xs">
                        <div class="expertise__detailsContainer--right fullHeight experisr3">
                        <div class="row middle-xs fullHeight">
                            <embed src="../assets/images/SVG_GROOME_SERVICES/3/demo.html" alt="expertise">
                        </div>
                        </div>
                    </div>    
                </section>
            </section>    
            <section class="expertise__details expertise__grey">
                <section class="expertise__detailsContainer">
                    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 last-xs">
                        <div class="expertise__detailsContainer--left">
                        <div class="expertise__detailsContainer--heading">
                        <h1>We Collabrate With You From Start To Finish</h1>
                        </div>
                        <div class="expertise__detailsContainer--subDetails">
                            <h2>Mind Mapping Your Need</h2>
                           <p>We understand your business need, apply market insights
                            with AI to deliver high service levels & availability.</p>
                        </div>
                         <div class="expertise__detailsContainer--subDetails">
                            <h2>Respect Cadence</h2>
                           <p>We offer high visibility and run quick feedback loops to
                            make our services reliable. Work-flow automation & data
                            intelligence ensure our productivity.</p>
                        </div>
                         <div class="expertise__detailsContainer--subDetails">
                            <h2>Deliver Relevance</h2>
                           <p>We value customer success in everything we do. Our
                            experts bring lot of honesty & prudence and go beyond
                            process to deliver excellence.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="expertise__detailsContainer--right fullHeight">
                        <div class="row middle-xs fullHeight ">
                            <embed src="../assets/images/SVG_GROOME_SERVICES/4/demo.html" alt="expertise">
                        </div>
                        </div>
                    </div>    
                </section>
            </section>  
            <section class="expertise__action"SS>
                <section class="expertise__actionContainer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                        <div class="expertise__actionContainer--actionContent">
                                <h1>If you want to hire the best candidate in less time </h1>
                                <a href="#popup2" id="open_popup2"><button type="button">Contact Us</button></a>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 expertise__actionContainer--reverseOrder first-xs">
                         <div class="expertise__actionContainer--content">
                                <h1>Integrate and streamline your people operations</h1>
                        </div>
                    </div>    
                </div> 
                </section>
            </section>    
        </section>
        <div  id="popup2" >
            <div class="modal">
                <div class="row">
                    <div class="close-button" id="close_popup2"><p class="x">X</p></div>
                    <h1>LET’S WORK TOGETHER</h1>
                    <!-- <h2>Forming partnerships will help to create the cult for coffee</h2> -->
                    <br>
                    <form id="test-form2" action="" name="contactus">
                      <div>
                        <p>Your name <label>*</label></p>
                        <input type="text" name="name" id="name1" placeholder="Name" />
                      </div>
                      <div>
                        <p>Your Email <label>*</label></p>
                        <input type="email" name="email" id="emailVal2" placeholder="Email" />
                      </div>
                      <div>
                        <p>Your Company <label>*</label></p>
                        <input type="text" name="company" id="company1" placeholder="Hashworks"/>
                      </div>
                      <div>
                        <button type="submit" id="submit-form3">Submit</button>
                      </div>
                    </form>
                    <div class="success">
                       
                        <div id="test3" >
                            <h1>Thank you!</h1>
                            <h2>We will get back to you.</h2>
                            <img src="" alt="">
                        </div>
                        <h1 id="errorMsg2">Please Fill In All Required Fields*</h1>
                    </div>
                  <div class="row phone">
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                     <img src="../assets/images/antique.png"/>
                     <span>+91 80 64513477</span>
                   </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                     <img src="../assets/images/email.png"/>
                     <span>hello@groome.co</span>
                   </div>
                    </div>
                  <!-- <a href="#" id="close_popup">closepopup</a> -->
                </div>
            </div>
         </div>
<script>
        //validation
        $(document).ready(function() {
                $("#test3").hide();
                $("#errorMsg2").hide();
                var $form = $('form#test-form2'),
                // url = 'https://script.google.com/macros/s/AKfycbym0D9ijAOnr5vE91Gmt8IHIHXq-gwYcKU8P8eiLR4PzWp_3QY/exec'
                url = 'https://script.google.com/macros/s/AKfycbym0D9ijAOnr5vE91Gmt8IHIHXq-gwYcKU8P8eiLR4PzWp_3QY/exec';
                function isEmail(email) {
                    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (regex.test(email) === true) {
                        console.log('Valid Email');
                        var jqxhr = $.ajax({
                            url: url,
                            method: "GET",
                            dataType: "json",
                            data: $form.serializeObject(),
                            success: function() {
                                $("#test3").show();
                                $("#errorMsg2").hide();
                            }
                        })
                    } else {
                        console.log('Invalid Emial');
                        $("#errorMsg2").show();
                    }
                }
                $('#submit-form3').on('click', function(e) {
                    var email = $("#emailVal2").val();
                    isEmail(email);
                    e.preventDefault();
                })
                
        
            });
        
            $('#submit-form3').on('click', function() {
            valid = true;   
            if ($('#name1').val() == '') {
                valid = false;
            }
        
            if ($('#company1').val() == '') {
                 valid = false;
            }    
        });
        
        </script>
    <script>
        $("#open_popup2").click(function(){
        $("#popup2").css("display", "flex");
        });
    
        $("#close_popup2").click(function(){
        $("#popup2").css("display", "none");
        }); 
    
    $('body').click(function(e){
    if(e.target.style[0] == "display"){
        $("#popup2").css("display","none");
    }
    });
</script>
        {% include footer.html %} 